body{
    background-color: #01435D;
}

p{

}

#titulo-principal{
    color : #f3e8d3;
    text-align: center;
    font-size: 40px;
}

.texto-verdeescuro{
    text-align: justify;
    color: rgb(255, 255, 255);
}

.texto-verdemedio{
    text-align: justify;
    color: #FEFEFE;
}
