body{
    background-color: #282240;
    margin: 10px;
    font-family: Calibri;
}

.cabecalho{
    background-image: linear-gradient(#020007, #231152);
    padding: 10px;
    border-bottom: 4px ridge rgb(239, 248, 225);
    text-align: center;

    display: flex;
    justify-content: space-around;
}

#titulo-principal{
    color : #9C7BA6;
    text-align: center;
    font-size: 40px;
}

.principal{
    background-image: linear-gradient(#190942, #543d8d);
}

.texto{
    text-align: left;
    color: #f4e5c9;
    line-height: 2.0;
    font-size: 18px;
    font-family: Calibri;
    padding-left: 20px;
    padding-right: 20px;
}

#banner{
    width: 15% ; /*largura */
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.imgesquerda{
    width: 400px;
    margin: 10px;
    padding: 10px; 
    border-radius: 10px;
    border: solid 3px whitesmoke;
}




p{
    line-height: 1.5;
}